.UsernameModal {
    position: fixed;
    background: rgba(119, 119, 119, 0.8);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: '1000';
}

.UsernameModal div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 205px;
    background: var(--white);
    border: 1px solid var(--gray-400);
    border-radius: 16px;
}

.UsernameModal div span {
    color: #000;
    font-size: 22px;
    font-weight: 700;
}

.UsernameModal div label {
    font-weight: 400;
    font-size: 16px;
}

.UsernameModal div input {
    border: 1px solid var(--gray-600);
    border-radius: 8px;
    width: 452px;
    height: 32px;
}

.UsernameModal div input[type=text] {
    color: #000;
    padding: 0 0 0 8px;
    font-size: 14px;
}

.UsernameModal div input[type=text]::placeholder {
    color: var(--gray-50);
}

.UsernameModal div button {
    background: var(--blue);
    border-radius: 8px;
    z-index: 1;
    position: absolute;
    bottom: 24px;
    right: 24px;
    cursor: pointer;
}

.UsernameModal div button[type=submit] {
    font-size: 16px;
    color: var(--white);
    font-weight: 700;
}


.UsernameModal div button[type=submit]:disabled {
    cursor: not-allowed;
    background-color: var(--gray-50);
}

.UsernameModal div button[type=submit]::placeholder {
    color: var(--gray-50)
}

.UsernameModal div span {
    display: block;
    margin: 20px 0 24px 24px;
}

.UsernameModal div label,
.UsernameModal div input {
    margin: 8px 0 0 24px;
}
