
.main {
    min-width: 833px;
    background: var(--white);
    height: auto;
    display: flex; align-items: center;
    justify-content: center;
    flex-direction: column;
    border: var(--gray-400);
    align-items: center;
    animation: modalAnimation 1s ease-in-out;
}

@keyframes modalAnimation {
    0% {
      opacity:0;
    }
    100% {
      opacity: 1;
    }
  }

.main > .codeLeap {
    border: var(--gray-400);
    background: var(--blue);
    width: 100%;
    height: 5rem;
    padding: 24px 0 24px 24px;
}

.main > .codeLeap > h2 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--white);
}

 form {
    width: 94%;
    height: 21rem;
    border: 1px solid ;
    display: flex;
    flex-direction: column;
    padding: 24px 0 0 24px;
    border-radius: 8px;
    margin: 24px 0 0 0;
    border: 1px solid var(--gray-400);

}

form > strong {
    font-size: 1.375rem;
    font-weight: 700;
    padding: 0 0 26px 0;
}

form label {
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}

.label {
    padding: 0 0 8px 0;
}

.inputTitle, .areaContent {
    border-radius: 8px;
    border: 1px solid var(--gray-600);
    margin: 0 24px 26px 0;
}

.inputTitle::placeholder, .areaContent::placeholder {
    color: #CCCCCC;
    font-size: 0.875rem;
    font-weight: 400;
}

.inputTitle {
    height: 2rem;
    padding: 0 0 0 8px;
  }

.areaContent {
    height: 4.625rem;
    padding: 7px 0 0 8px;
}

form div {
    display: flex;
    justify-content: end;
    margin-right: 24px;
}

form div button[type=submit] {
    width: 7.5rem;
    height: 2rem;
    border-radius: 8px;
    background: var(--blue);
    font-weight: 700;
    color: var(--white);
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

form div button[type=submit]:disabled {
    background: var(--gray-400);
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .main {
        min-width: 768px;
    }

    .codeLeap {
        text-align: center;
    } 
}

@media (max-width: 480px) {
     .main {
        min-width: 480px
     }
    .codeLeap {
        text-align: center;
    }    

    form {
        align-items: center;
        width: 80%;
        padding: 24px 0 0 0;
    }

    form input {
        width: 11.3rem;
    }

    form strong {
        font-size: 1rem;
    }

    form .inputTitle, .areaContent {
       margin: 0 0px 26px 0
    }

    form .label {
        margin-right: 10px;    }

    button {
        margin: 0 0 0 24px;
    }
}