.post {
    display: flex;
    flex-direction: column;
    width: 47rem;
    margin: 24px 0 24px 0;
    animation: modalAnimation 1s ease-in-out;
}

@keyframes modalAnimation {
    0% {
      opacity:0;
    }
    100% {
      opacity: 1;
    }
  }

 .titlePost {
    border: var(--gray-400);
    background: var(--blue);
    width: 100%;
    height: 5rem;
    padding: 24px;
    border-radius: 16px 16px 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .titlePost > h2 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--white);
}

.titlePost div {
    width: 5rem;
    display: flex;
    justify-content: space-between;
}

.titlePost div button {
    background: var(--blue);
    border: none;
    cursor: pointer;
}

.titlePost div button svg {
    color: #fff;
}

.nameAndDate {
    border: 1px solid var(--gray-400);
    border-radius: 0 0 18px 18px;
}

.nameAndDate div span {
    color: var(--gray-600);    
}

.nameAndDate div span strong {
    font-weight: bold;
}

.nameAndDate div:first-child {
    margin: 24px;
    width: 93%;
    display: flex;
    justify-content: space-between;
}

.nameAndDate div:first-child time {
    color: var(--gray-600);
    font-size: 1.125rem;
}

.nameAndDate div:last-child {
    margin: 24px;
}

.nameAndDate div:last-child p {
    font-size: 1.125rem;
    font-weight: 400;
    color: #000;
}

@media (max-width: 768px) {
    .post {
        width: 45rem;
     }
}

@media (max-width: 480px) {
    .post {
       width: 25.5rem;
    }

    .titlePost > h2 {
        font-size: 1rem;
    }

    .titlePost div button  {
        margin: 0;
    }

    .titlePost div button:first-child {
        margin: 0 15px 0 15px;
    }

    .nameAndDate div:first-child time {
        font-size: 0.9rem;
        margin-right: 10px;
    }
}



